<h1>Confirmation de votre email</h1>

<p>
    Veuillez confirmer votre email en cliquant sur ce lien : <br><br>
    <a href="{{ signedUrl }}">Confirm my Email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci
</p>
