{% extends 'base.html.twig' %}

{% block title %}Hello DonneeController!{% endblock %}

{% block body %}

    <h1>Tableau de Bord</h1>

    <p class="lead text-success">D'incroyables graphiques prochainement sur vos écrants !</p>

{% endblock %}
